@charset "UTF-8";
h1{
    color: blue;
    background-color: aqua;
}
h2{
    color: brown;
    background-color: coral;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
body{
    background-color: lightgreen;
}
